/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
	background-color: #eeeeee;
}
.card{
	top-margin:.8em;
}
.commentbox{
	width:80%;
}
.date{
	float:right;
	font-size: 14px;
}
.mat-button{
	min-width: 0px;
	padding: 0;
}